---

---

<footer class="globalFooter">
    <div class="container">
        <p>
            © 2026 - Copyright 電化工藝
        </p>
    </div>
</footer>

<style>
    .globalFooter {
        padding-inline: var(--spacing-gutter);
    }
    .container {
        max-inline-size: var(--container-size-lg);
        margin-inline: auto;
        text-align: center;
    }
    a {
        border-bottom: var(--is-hover-true, 1px solid var(--bunker))
            var(--is-hover-false, none);
    }
</style>
