---
import BaseLayout from "../../layouts/BaseLayout.astro";

---

<BaseLayout title="About | 電化工藝">
	<div class="mainContentInner">
		<div class="heading">
			<h1>About</h1>
		</div>
		<div class="content">
			<p>ハードウェアだからこそ仕掛けられる驚きや楽しさがあるという信念のもと、娯楽性と機能性の両立をテーマに、日常をほんのり彩る、ちょっと便利なプロダクトを制作しています<p>
			<ul>
				<li><a href="https://www.iamas.ac.jp/ommf2022/maker/yasei-no-prototyper/">Ogaki Mini Maker Faire 2022</a></li>
				<li><a href="https://makezine.jp/event/makers-mft2022/m0122/">Maker Faire Tokyo 2022</a></li>
			</ul>
		</div>
	</div>
</BaseLayout>

<style>
	.mainContentInner {
		inline-size: 100%;
		display: block grid;
		gap: var(--spacing-8);
		grid-template-areas: 
			"heading"
			"WorkList";
		grid-template-rows: auto 1fr;
		
		.heading {
			grid-area: heading;
		}
		.WorkList {
			grid-area: WorkList;
		}
	}
</style>

<style is:global>
	.header {
	  display: block grid;
	  gap: var(--spacing-3);
	  max-inline-size: inherit;
	}
  
	.title {
	  font-size: var(--font-size-h2);
	  line-height: 1.2;
	}
  
	.date {
	  font-size: var(--font-size-small);
	  color: var(--scarpa-flow);
	}
  
	.eyecatch img {
	  width: 100%;
	  height: auto;
	}
  
	.content {
	  display: block;
	  inline-size: 100%;
	}
  
	.content h2 {
	  font-size: var(--font-size-h3);
	  margin-block-start: 5.4rem;
	}
  
	.content h3 {
	  font-size: var(--font-size-large);
	  margin-block-start: 3.6rem;
	}
  
	.content h3 {
	  font-size: var(--font-size-large);
	  margin-block-start: 1.33rem;
	}
  
	.content p {
	  margin-block-end: var(--spacing-3);
	  margin: 1.8rem 0;
	}
  
	.content img {
	  max-inline-size: 100%;
	  height: auto;
	  margin: var(--spacing-4) 0;
	}
  
	ul, ol {
		padding-inline-start: var(--spacing-1);
		list-style-type: "・";
	}

	:any-link:hover {
		border-bottom: 2px solid var(--post-card-heading-border-color, rgba(0, 0, 0, 0));
	}

	@media (any-hover: hover) {
       :any-link:hover {
           --post-card-heading-border-color: var(--bunker);
        }
    }

	.content > *:first-child {
	  margin-block-start: 0;
	}
  
	.content > *:last-child {
	  margin-block-end: 0;
	}
  
  </style>
  